.coin {
    border: medium none;
    height: auto;
    max-width: 100%;
    vertical-align: top;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }
